@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(91, 143, 221, 0.7),
    rgba(220, 234, 241, 0.952)),
    url(./imagenes/marca\ de\ agua.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #faf8f8;
    font-size: 25px;
    font-weight: 800;

}

.logo img {
    width: 80px;
    margin-bottom: 15px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #faf8f8;
    display: block;
    font-weight: 600;

}

.menu .navbar ul li a:hover {
    color:rgb(90, 238, 194);
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: rgb(242, 245, 244);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #f7f2f2;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #fcae87;
    color: #f9fafc;
    text-transform: uppercase;


}

.btn-1:hover {
    background-color: #ebad8d;
}

.ipostel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url(./imagenes/ipostel.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.ipostel-content {
    text-align: center;
}

.ipostel-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f3f4f8;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #f3f4f8;
    padding: 0 250px;
    margin-bottom: 35px;
}

.ipostel-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.ipostel p {
    color: #f0eeee;
}

.ipostel-1 {
    padding: 0 25px;
}

.ipostel-1 img {
    width: 200px;
}

.ipostel-img {
    position: absolute;
    top: 0;
    right: 0;
}

.ipostel-1 h3 {
    color: #f4f6ff;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(./imagenes/images.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #f0eeee;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 80px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #baccb3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50px;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(./imagenes/delivery.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(./imagenes/wb5IgTQ8N8S6dANd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    padding: 10px 0;
    background-color: #49d3b5;
}

.footer-content {
    display: center;
    justify-content: space-between;
}

.footer-content h3{
    font-size: 25px;
    line-height: 30px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 100px;
}

.footer-content p{
    font-size: 16px;
    color: #323337;
    margin-bottom: 20px;
    padding: 0 100px;
}


@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(84,180,188);
        display: none;
    }

    .me+.navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo img {
        width: 60px;
        margin-bottom: 15px;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .ipostel {
        padding: 30px;
    }

    .ipostel-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .ipostel-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .ipostel-img {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2,
    .general-3 {
        display: none;
    }

    .blog {
        pad: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}