<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <div class="container">
        <div class="box-info">
            <h1>CONTÁCTATE CON NOSOTROS</h1>
            <div class="data">
                <p><i class="fa-solid fa-phone"></i>0412-4053272</p>
                <p><i class="fa-solid fa-envelope"></i>tsuarez@ipostel.gob.ve</p>
                <p><i class="fa-solid fa-location-dot"></i>6 Av. José Ángel Lamas, Caracas 1020, Distrito Capital</p>
            </div>
            <div class="links">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <form>
            <div class="input-box">
                <input type="text" required placeholder="Nombre y Apellido">
            </div>
            <i class="fa-solid fa-user"></i>
            <div class="input-box">
                <input type="email" required placeholder="Correo Electrónico">
            </div>
            <i class="fa-solid fa-envelope"></i>
            <div class="input-box">
                <input type="text" required placeholder="Asunto">
            </div>
            <i class="fa-solid fa-pen-to-square"></i>
            <div class="input-box">
                <textarea cols="30" rows="10" placeholder="Escribe tu mensaje"></textarea>
            </div>
            <button type="submit">Enviar mensaje</button>
        </form>
    </div>
</body>
</html>